<p id="notice"><%= notice %></p>

<h1>Skills</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Percent utilized</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td><%= skill.title %></td>
        <td><%= skill.percent_utilized %></td>
        <td><%= link_to 'Show', skill %></td>
        <td><%= link_to 'Edit', edit_skill_path(skill) %></td>
        <td><%= link_to 'Destroy', skill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skill', new_skill_path, class: 'btn btn-primary' %>






<div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow="<%= skill.percent_utilized %>"
                  aria-valuemax="100"
                  style="width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>